# IntelliJ/Android Studio
.idea/
*.iml
*.iws
.project
.settings/
.classpath

# Gradle
.gradle/
build/
*/build/

# OS generated
.DS_Store
Thumbs.db

# Android
capture/
*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
proguard/
